.navbar-header {
  color: #242424;
  margin-left: 40px;
  padding: 1%;
  font-size: 34px;
  text-shadow: #242424;
  opacity: 3;
}

.nav-item {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
}

.nav-link {
  color: #242424;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}