$black:#242424;
$gray:#505050;
$color:#ccc;
$white:#fff;


//===========================
*{
    margin: 0;
    padding: 0;
    list-style: 0;
}

html{
    scroll-behavior: smooth;
}


.intro-text{
 text-align: center;
 color: $black;
 font-family: Montserrat, sans-serif;
  font-size: 2.5em;
  line-height: 1.1;
  margin: 0 0 3rem;
  font-weight: 100;
  padding: 3%;
}


.left-main{
    font-family: Lora,serif;
    font-size: 1.7em;
    font-weight: 400;
    margin: 0 0 1em;
    color:$gray;
}


.head{
    display: inline-block;
    vertical-align: middle;
    width: 58%; 
}


.sections-img{
    display: inline-block;
    vertical-align: middle;
    width: 40%;
}
.section-img{
    display: inline-block;
    vertical-align: middle;
    width: 40%;
}

.right-img{
    width: 90%;
    display: block;
    margin: auto;
    height: auto; 
}


.right-img:hover{
    transform: scale(1.1);

}

.copywrite{
    text-align: center;
    padding: 10px;
}

.coordinator{
    font-size: .9em;
    line-height: 2;
    color: #333;
    font-family: 'Open Sans',sans-serif;
}

main{
    display: block;
    margin: 0 0 8em;
    padding: 0 7%;
}
.resume{
    list-style: none;
    -webkit-transition: .5s all ease;
    transition: .5s all ease;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid $color;
    padding: .5em .8em;
    text-align: center;
    color: $black;
    text-decoration: none;
    cursor: pointer;
}
.text-pdf{
    color: $black;
}
.download{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 1%;
    margin-right: 600px;
    margin-left: 600px;
    .resume:hover{
        background-color:$color;
    }
}
.blog,
.about,
.contact{
    display: grid;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.blog{
    background: url(https://picsum.photos/200/300/?blur);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
    color: $white;
    text-align: center;
 
}
.about{
    background: url(../images/francesco-de-tommaso-6Tb8YvfD-AU-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
    color: $white;
    text-align: center;
}
.contact{
    background: url(https://picsum.photos/200/300/);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
    color: $white;
    text-align: center;
    
}
.email{
    cursor: pointer;
}
.email:hover{
    background-color:yellow;
}

   
.icons{
    display: block;
    padding: 0 0 10px;
    font-size: 24px;
    color:$black;
    list-style: none;
    margin: 10px;
}

.list_style{
    list-style: none;
    display: flex;

}

@media screen and (max-width:768px){
    .download{
        display: block;
        margin: 0;
        margin-right: 100px;
        margin-left: 100px;
    }
    .section-img{
        display: block;
       
    }
    .head{
        display: block;
        width: 100%;
    }
    .sections-img{
        display: none;
    }
    
}
